{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set messageCount = collector.totalNumMessages %}

    {% if messageCount == 0 %}
        {% set color = 'grey' %}
    {% else %}
        {% set color = 'green' %}
    {% endif %}

    {% set icon %}
        {% include '@SimpleBusCommandBusBundle/Resources/views/icon.html.twig' with {height: 25} only %}
        <span class="sf-toolbar-status sf-toolbar-status-{{ color }}">{{ messageCount }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Messages</b>
            <span class="sf-toolbar-status sf-toolbar-status-grey">{{ messageCount }}</span>
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': 'simple_bus' } %}
{% endblock %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {% include '@SimpleBusCommandBusBundle/Resources/views/icon.html.twig' with {height: 30} only %}
        </span>
        <strong>SimpleBus</strong>
        <span class="count">
            <span>{{ collector.totalNumMessages }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>SimpleBus</h2>

    <ul>
    <li>
        <strong>Buses</strong>

        <table class="messagelogs inline">
            <tr>
                <th>Name</th>
            </tr>
            {% for bus in collector.buses %}
                <tr>
                    <td>{{ bus.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </li>

    {% for bus in collector.buses if bus.middlewares|length > 0 %}
    <li>
        <strong>{{bus.name}}</strong>

        <table class="messagelogs inline">
            <tr>
                <th>Middleware</th>
            </tr>
            {% for middleware in bus.middlewares %}
                <tr>
                    <td>{{ middleware }}</td>
                </tr>
            {% endfor %}
        </table>
    </li>
    {% endfor %}

    <li>
        <strong>Messages</strong>
        <table class="messagelogs inline">
            <tr>
                <th>Timestamp</th>
                <th>Bus</th>
                <th>Message Class</th>
            </tr>
            {% for messageData in collector.messages %}
                <tr>
                    <td>{{ ('@'~messageData.timestamp)|date('Y-m-d H:i:s') }}</td>
                    <td>{{ messageData.bus }}</td>
                    <td>{{ messageData.messageClass }}</td>
                </tr>
            {% endfor %}
        </table>
    </li>
    </ul>
{% endblock %}
